* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#div1 {
    border: 5px solid red;
    width: 100px;
    height: 150px;
}

#div2 {
    border: 5px solid green;
    width: 50px;
    height: 50px;
}

#div3 {
    border: 5px solid blue;
    width: 50px;
    height: 50px;
}

#div4 {
    border: 5px solid orange;
    width: 100px;
    height:150px;
}